<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>  
  	   <typeAlias type="com.web.entity.UserBean" alias="UserBean"/>
 	   <package name="com.web.entity"/>
 	</typeAliases>
    <mappers>  
    		<!-- 自动寻找xxx.java名字相同的xxx.xml文件 -->
  		<!--  <package name="com.web.mapper"/> -->
  		 <mapper resource="com/web/mapper/*Mapper.xml"  /><!-- 名字文件夹用斜杠 -->

    </mappers>
</configuration> 